*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --verde-neon: #00ff00;
    --background-color: #000000;
    --background-color-ligth: #0f0f0f;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--background-color);
    color: #FFFFFF;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid var(--verde-neon);
    background-color: var(--background-color-ligth);   
}

header nav ul{
    list-style: none;
    display: flex;
    gap: 20px;
}

header nav ul li a{
    text-decoration: none;
    color: #FFFFFF;
    font-size: 18px;
    transition: color 0.3s;
}

header nav ul li a:hover{
   color: var(--verde-neon);
}

#logo{
    display: flex;
    align-items: center;
}

main{
    padding: 20px;
    
}

.titulo{
    text-align: center;
    margin: 20px 0;
    font-size: 60px;
}

.titulo span{
    color: var(--verde-neon);
}

#logo img{
    height: 80px;
}

.banner-opcoes{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(382px);
}

nav ul{
    list-style: none;
    display: flex;
    gap: 50px;
}

nav ul li{
    text-align: center;
}

nav ul li h1{
    font-size: 20px;
    margin-bottom: 10px;
}

nav ul li img{
    width: 100px;
    height: auto;
    transition: transform 0.3s, box-shadow 0.3s;
}

nav ul li img:hover{
    transform: scale(105%);
}

.banner-footer-gradient{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, var(--background-color-ligth), transparent);
}

footer{
    text-align: center;
    padding: 20px;
    background-color: var(--background-color-ligth);
    border-top: 2px solid var(--verde-neon);
    margin-top: 20px;
}

#redes-sociais{
    margin-bottom: 10px;
}

#redes-sociais a{
    margin: 0 10px;
}

#redes-sociais a img{
    width: 30px;
    height: auto;
    transition: transform 0.3s;
}

#redes-sociais a img:hover{
    transform: scale(110%);
}